.landing-grid-image {
	width: 100%;
	height: 350px;
	border-radius: 15px;

	&:hover {
		opacity: 0.8;
	}

	@media screen and (max-width: 375px) {
		height: 300px;
		object-fit: cover;
	}

	@media screen and (max-width: 414px) {
		height: 300px;
		object-fit: cover;
	}
}

.postInfo-img {
	&:hover {
		opacity: 0.8;
	}
}
